.cont_home{
    padding: 10px;
}
.tiempo{
    display: flex; 
    padding: 1rem;
    width: 100%;
    justify-content: space-between; 
}
.titulos{
  border-radius: 1em;
  background-color: #DFEEEB;
}
/*Medio*/
.mid{
  width: 35%;
  margin-left: 10px;
}
.vaca{
 height: 241px;
}
.tmp_tra{
  height: 202px;
}
.asis{
  height: 241px;
}
.permi{
  height: 444px;
}
/*Derecha*/
.rigth{
  width: 40%;
  margin-left: 15px;
}
.tareas{
  height: 478px;
}
.ausencias{
  height: 231px;
}
.contrato{
  height: 221px;
}
.historial{
  height: 183px;
}