.cont_home{
    padding: 10px;
}
.tiempo{
    display: flex; 
    padding: 1rem;
    width: 100%;
    justify-content: space-between; 
}
.titulo_ini{
    font-size: 30px;
}
.tabla_container {
    width: 100%;
    overflow-x: auto;
    overflow: hidden;
    margin-top: 1rem;
    border-radius: 10px;
 
    background-color: rgba(167, 167, 167, 0.699);
  }
.tabla{  
    width: 100%;
    border-collapse:separate;
    border-spacing: 0; 
}
td, th{
    border-bottom: solid 1px; 
    border-right:  solid 1px;
    padding: 10px 20px;
    text-align: center;
}
.tabla tr:last-child td {
    border-bottom: none;
  }
  .tabla th:last-child,td:last-child{
    border-right: none;
  }
  /*.tabla th:last-child{
    border-right: none;
  }*/
@media (max-width: 600px) {
    .tabla {
      min-width: 100%;
    }
  
    td, th {
      font-size: 14px;
      padding: 8px;
    }
  }

