.contenedor1_jef {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
  padding: 30px;
  width: 95%;
  margin:2% auto;
}

.AsistenciaCal_jef {
  text-align: center;
}

.calendar-component {
  width: 100%;
}

.react-calendar__navigation button {
  font-size: 150%;
}
.react-calendar__month-view__weekdays {
  font-size: 100%;
}
.react-calendar__month-view__days__day {
  font-size: 120%;   
  color: #222;    
}
.react-calendar__tile--now {
  background-color: #c5c5c5;
}
.react-calendar__tile--active {
  background-color: #939393 !important;
}
.react-calendar__tile--now:hover,
.react-calendar__tile--active:hover {
  background-color: #21947D !important;
}

.Registro_text_jef {
  text-align: center;
}

.Contenedor_Ingreso_jef {
  background-color: #E3E3E3;
  padding: 30px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  border-radius: 1rem;
  width: 100%;
  height:296px;
  font-size: 70%;
}

.ingreso_hora_jef {
  width: 90%;
  border: none;
  border-radius: 5px;
  height: 34px;
}
.titus_calendar_jef{
  font-size: 15px;
}
.Subir_ingreso_jef {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background-color: #21947D;
  color: #000;
  cursor: pointer;
}

.tabla-resumen_jef {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #e2e2e2; 
  font-family: Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  border: 5px solid #d9e6e2;
  border-radius: 8px;
  overflow: hidden;
}

.tabla-resumen_jef th,
.tabla-resumen_jef td {
  padding: 12px;
  border-bottom: 1px solid #e0f2ee;
}

.tabla-resumen_jef thead {
  background-color: #f1fffc;
  font-weight: bold;
}

.Contenedor_Historial_jef {
  background-color: #E3E3E3;
  padding: 30px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  border-radius: 1rem;
  width: 100%;
  height:296px;
  font-size: 70%;
}

.historial-jef {
  grid-column: 1 / -1;
  
}

@media (max-width: 1024px) {
  .contenedor1_jef {
    margin-left: 5px;
    gap: 5%;
  }
  .Contenedor_Ingreso_jef {
    padding: 8%;
    font-size: 75%;
  }
  .ingreso_hora_jef {
    width: 95%;
  }
}

/* celulares */

@media (max-width: 768px) {
  .contenedor1_jef {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    gap: 30px;
  }

  .calendar-component {
    min-width: 90vw;
    margin-top: 5%;
  }

  .Contenedor_Ingreso_jef {
    min-width: 90vw;
    padding: 10%;
    font-size: 80%;
    margin-top: 5%;
  }

  .ingreso_hora_jef {
    width: 100%;
  }

  .Subir_ingreso_jef {
    width: 100%;
  }

  .tabla-resumen_jef {
    max-width: 95vw;
    font-size: 0.9rem;
  }

  .tabla-resumen_jef th,
  .tabla-resumen_jef td {
    padding: 8px;
  }

  .Registro_text_jef,
  .AsistenciaCal_jef h1 {
    font-size: 1.2rem;
  }
}


