.menandcal{
    display: flex;
}
.Calendarioo{
    margin-left: -130px;
    margin-top: 90px;
    width: 550px;
    height: 350px;
}
.react-calendar__navigation button { /*mes de la parte de arriba */
    font-size: 25px;
}
.react-calendar__month-view__weekdays{/*dias en la parte de arriba */
    font-size: 20px;
}
.react-calendar__month-view__days__day { /*dias del mes */
    font-size: 25px;   
    color: #222;    
}
.react-calendar__tile--now {
    background-color: #c5c5c5;
}
.react-calendar__tile--active {
    background-color: #939393 !important;
}
.react-calendar__tile--now:hover {
    background-color: #c5c5c5 !important;
}
.react-calendar__tile--active:hover {
    background-color: #939393 !important;
}
.Asistencia_text{
    align-items: center;
    text-align: center;
    display: grid;
    font-size: 25px;
    margin-top: -400px;
    margin-left: 100px;
}
.Reporte_buttom{
    height: fit-content;
    margin-left: 400px;
    margin-top: 25px;
    background-color: #c5c5c5;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
}
.Reporte_buttom:hover{
    background-color: #d6d6d6;
}
.Report_box{
    text-align: center;
    margin-top: 120px;
    margin-left: -266px;
    background-color: #c5c5c5;
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.Report_text{
    margin-top: 40px;
    color: #000000;

}
.hora_inp{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 10px;
}







