
.container_11 {

    width: 50%;
    margin: 0 auto;
    height: 500px;

}

.section_12 {
    display: flex;
    /* float: right; */
    margin-right: 20rem;
    height: 900px;
    width:70%;
    
}

.nav_11 {

    /* display: flex; */
    width: 60%;
    margin: auto;
    justify-content: space-between;

}
.formulario {

    display: grid;
    width: 70vw;
    grid-template-columns: 50% 50%;

}

.article_111 {

    margin: auto;
    text-align: center;
    width: 100%;
    margin-top: 1rem;

}


.input_1111 {
    background-color: #c1c1c1;
    border: none;
    width: 90%;
    height: 30px;
}

.Actu_datos{

    width: 50%;
    margin: auto;
    border-radius: 10px;
    text-decoration: underline;

}

.main_title1 {

    margin-top: 1rem;

}

.SUB1{
    padding-top: 3rem;
    padding-bottom: 2rem;
}


