.contenedor_admin_empleado{

    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;    
}
.titulo_admin_empleado{
    background-color: #2CBA7A;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100px;
}

.contenido_admin_empleado{
    
    width: 100%;
    height: 900px;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: center;
}

.cajas_admin_empleado{
    background-color: #2CBA7A26;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;    
}

.seccion_anadir_empleado{

    display: block;
    text-align: center;
    font-size: 50px;

}

.titulo_{
    font-size: 48px;
    font-weight: 400;
}

.titulo_categorias{
    font-weight: 400;
}