.lupa {
    width: 40px;
    height: 40px;
    
}
.buscar {
    width: 250px;
    height: 60px;
    padding: 20px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 5px;
}